<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="restuarantBean" class="com.inferno.springcore.Restuarant"	init-method="init" destroy-method="destory"></bean>
	
	<bean class="com.inferno.springcore.BeanPostProcessorClass1"></bean>
	
	<bean class="com.inferno.springcore.BeanPostProcessorClass2"></bean>
</beans>